# .clang-format
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 140
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
AlignConsecutiveAssignments: true
AlignTrailingComments: true
ReflowComments: true
SortIncludes: true
NamespaceIndentation: All  # Options: None, Inner, All

IndentPPDirectives: AfterHash
AlignConsecutiveDeclarations: true
AlignConsecutiveBitFields: true
