# .clang-format
BasedOnStyle: Google
ColumnLimit: 160
BinPackArguments: true
PenaltyBreakBeforeFirstCallParameter: 2000
AlignAfterOpenBracket: DontAlign
IndentWidth: 4

UseTab: Never
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
AlignConsecutiveAssignments: true
AlignTrailingComments: true
ReflowComments: true
SortIncludes: true
NamespaceIndentation: All  # Options: None, Inner, All

IndentPPDirectives: AfterHash
AlignConsecutiveDeclarations: true
AlignConsecutiveBitFields: true

